# Visual Studio project related stuff.
*.suo
*.sdf
*.user
*.opensdf
# Visual Studio Code Stuff
.vscode
# Visual Studio 32 bits build.
Debug
Release
# Visual Studio 64 bits build.
x64
# CMakeLists build.
build
# CLion.
cmake-build*
.idea
# Python
venv
# General
*.log
# Generated plots, visualizations, etc.
*.png
#coverage.py output
.coverage
*__pycache__/
# Colcon build
log/
install/
